li { list-style-type: square; }
#cena { color: red; font-weight: bold; }
.wstęp { font-style: italic; }
td > img { border-style: solid; border-color: blue; }
/* td > img : hover { border-color: red; } */
td > img:hover { border-color: red; }
h1 + h2 { letter-spacing: 5px }
/* table [colspan=2] { font-size: small; } */
table [colspan="2"] { font-size: small; }
p + p { color: gray; }
body { background-image: url(http://icons.iconarchive.com/icons/iconsmind/outline/96/Books-2-icon.png); background-repeat: repeat-y;}
h1{ color: blue; }
h1{ color: green; }
/* zostala zastosowana druga regula */
