html *, body *, p * {margin: 0; padding: 0;}
html {box-sizing: border-box;}
/* *, *:before, *:after {box-sizing: inherit;} */
* {font-family: Verdana,sans-serif; font-size: 16px; font-weight: normal; text-decoration: none; color: black;}
header {display: flex; flex-direction: row; padding: 30px; align-items: center;}
main {display: flex; flex-direction: row;}
footer {display: flex; flex-direction: column;}
header h1 {margin-left: 15px; font-size: 200%; font-weight: bold;}
header nav {display: flex; flex-grow: 2; justify-content: flex-end; align-self: flex-start;}
header nav a {width: 75px;}
main {padding: 15px;}
article {margin: 15px; width: 100%; border: 2px solid black;}
article h2 {height: 50px; width: 50%; font-size: 1.5em; display: flex; justify-content: center; align-items: center;}
article {display: flex; flex-direction: column;}
article h2 {align-self: flex-end;}
article h2 {background-color: lightgrey; border-bottom: 2px solid black; border-left: 2px solid black;}
article p {text-align: justify; padding: 15px;}
footer {height: 100px; background-color: lightgrey; border-top: 2px solid black; margin-top: 15px; align-items: center; justify-content: center;}
footer p:nth-child(2) {font-weight: bold;}
html, body {height: 100%;}
body {display: flex; flex-direction: column;}
.content {flex: 1 0 auto;}
footer {flex-shrink: 0;}
@media all and (max-width: 900px) {
    main {flex-wrap: wrap;}
}
[alt="Hamburger"] {display: none;}
@media (max-width: 900px) {
    header h1 {display: none;}
    header nav {display: none;}
    [alt="Hamburger"] {display: flex; justify-content: flex-end;}
    header {display: flex; flex-direction: row; padding: 30px; align-items: center; justify-content: space-between;}
}
